*{ 
    margin: 0; 
    padding: 0;
    background-color: white; 
}



.cuotas {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 12px;
    padding: 13px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}


header {
    margin: 20px;
    background-color: none;
    position: sticky;
    text-align: center;
}

nav ul li {
    display: inline-flex; 
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    vertical-align: middle;
}

nav ul li a {
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    font-size: 18px; 
    color: black ;
 }

.li {
    font-family:'IBM Plex Mono', monospace;
    font-weight: 800;
    font-size: 30px;
    color: black ;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    font-weight: regular;
    color: black ;
    margin-left: 10%;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    text-align: center;
    font-weight: regular;
    padding-top: 5%;

    color: black ;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-align: center;
    font-weight: 800;
    padding-top: 2%;
    font-style: regular;
    color: black ;
}

h4 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    text-align: center;
    font-weight: 300;
    padding-bottom: 2%;
    color: black ;
}

h5 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 40px;
    text-align: center;
    font-weight: regular;
    padding-top: 3%;
    padding-bottom: 5%;
    color: black ;
}

h6 {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.form {
    border-color: black ;
    margin: 16px;
    padding:  10px;
}

.legend{
    font-size: 25px;
    text-align: center;
    color: black ;
}


img {
    align-self: center;
    width: 100% ;
}

.conoceNP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 2%; 

}

.Imagen {
    width: 240px;
    margin: 25px;
 
}

.oferta-cont{ 
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    padding-bottom: 2%;
    padding-top: 2%;
}

.producto-descripcion{
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding-top: 32px;
}
.producto-autor {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-weight: 300;
}
.producto-precio{
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
}

.Imagen {
 padding: 5px;
}


.Contenedor-ropa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-ropa {
 width: 122px;
 height: 240px;
 padding: 5%;
}

.item-precio {
    width: 122px;
    height: 240px;
    padding: 5%;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px ;
    color: black ;
  }


.para {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    font-display: auto;
    padding: 120px 400px;
    color: black ;
}


.quienes-somos{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}


.aesthetic{
    vertical-align: top;
    display: inline-flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 5% ;
}

.aesthetic2{
    vertical-align: top;
    display: inline-flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 5% ;
}

.fecha {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 700;
    vertical-align: top;
}

.noticia {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    font-weight: 700;
    padding-left: 12%;
    padding-bottom:5%;
 }

.noticia2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 25px;
    font-weight: 700;
    padding-right: 12%;
    padding-bottom:5%;
}

.noticias {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    padding-left: 5%;
    width: 30%;
    vertical-align: top;
    text-align: justify;
}

.noticias2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    padding-right: 5%;
    width: 30%;
    vertical-align: top;
    text-align: justify;
    justify-content: flex-start;
    margin-left: 20%;
}

.noticiasL{
    padding-left: 10%;
    width: 40%;
   
}

.noticiasR{
    padding-right: 10%;
    width: 40%;
}

.bellow {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
}
.público{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    text-align: left;
    font-display: auto;
    font-weight: 400;
    width: 500px;
    height: 240px;
    padding: 5%;
    color: black ;
}

.contacto {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    padding-bottom: 2%;
    text-align: center;
    color: black ;
    width: 100%;
}

